<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs"></ion-back-button> 
    </ion-buttons>
    <ion-title>Selfie</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="image" class="ion-padding">


	
  
    <div class="container">
      <ion-thumbnail class="thumbnail" slot="start">
        <ion-img [src]="image"></ion-img>
      </ion-thumbnail>
      <ion-button class="upLoad" color="medium" expand="block" (click)="startUpload(image)">
        Upload Image
      </ion-button>
      <ion-button class="reT" fill="clear" color="dark" expand="block" (click)="deleteImage(image)">
    <ion-icon slot="icon-only" name="trash"></ion-icon> Retake
      </ion-button>
    </div>
 
  <!-- <ion-button color="medium" expand="block" (click)="deleteImage(file)">
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button> -->


</ion-content>


<ion-content *ngIf="!image">


	
	<ion-button fill="clear" expand="full" color="medium" (click)="takePicture()">
			<ion-icon slot="start" name="camera"></ion-icon>
			Capture Image
		</ion-button>

</ion-content>