<ion-header  translucent={true}>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profiles/settings" ></ion-back-button>
      
    </ion-buttons>
    <ion-title mode="ios" >Devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Apple XR</h2>
  <p>Lagos, Nigeria</p>
  <p>2 hours ago</p>

  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <h2>Tecno Phantom 6s</h2>
  <p>Lagos, Nigeria</p>
  <p>Last seen: January 28, 2023 4:20am</p>

      </ion-col>
      <ion-col size="3" class="signout"  (click)="logout()">
        <p color="danger" class="ion-text-left" class="ion-float-right">Sign out</p>

      </ion-col>
    </ion-row>
  </ion-grid>
  

  
  
</ion-content>