
// ion-modal {
//     --height: 50%;
//     --border-radius: 16px;
//     --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
//     --width: fit-content;
//     --min-width: 90%;
//   }
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  // ion-modal::part(backdrop) {
  //   background: rgba(209, 213, 219);
  //   opacity: 1;
  // }
  
  ion-header ion-toolbar {
    --background:white;
    --color: black;
  }
  
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th,
  td {
    padding-bottom: 10px;
    border: 1px solid transparent;
  }
  
  td:first-child {
    text-align: left;
    color: var(--ion-color-white);
    font-size: 15px;
    padding: 3%;
  }
  
  td:last-child {
    text-align: right;
    font-size: 15px;
    padding: 3%;
    color: var(--ion-color-white);
  }
  
  .container .message-container {
    margin-top: 20px;
    text-align: center;
  }

  .container .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000; /* Adjust the color as needed */
    z-index: 9999; /* Ensure the icon is above other elements */
  }
  
  .container .status-image {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  
  // .transaction-modal .message {
  //   margin-bottom: 20px;
  // }
  

  // .transaction-modal {
  //   margin-top: 25%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: fixed;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) as needed */
  //   z-index: 9999;
  // }
  
  // .ion-padding {
  //   margin-top: 25%;
  //   max-width: 400px;
  //   text-align: center;
  //   background-color: #fff;
  //   padding: 20px;
  //   border-radius: 10px;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // }
  
  
  
  .sub-header {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .message-container {
    margin-top: 90%;
    margin-bottom: 15px;
  }
  
  .message {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 800;
    text-align: center;
    color:#f8f8f8;
  }
  
  .container{
    background-color:black;
    width:90%;
    margin-top: 50%;
    height: 55vh;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 20px;
      color:#f8f8f8;
      font-weight: bolder;
      //margin-bottom: 25%;
      margin-bottom: 8%
    }

    button{
      // width:95%;
      font-weight: bold;
      padding-inline: 1.2rem;
      padding-block: 0.8rem;
      border-radius: 0.6rem;
      background: #7E219E;
      padding: 8px;
      margin-bottom:10px;
      color: white;
    }
    .button-container {
      display: flex;
      justify-content: space-between;
    }
    .no-button{
      color: white;
      background:transparent;
      font-size: 16px;
    }
    
  .yes-button,
    .no-button {
      flex: 1;
      margin: 0 5px; /* Adjust margin as needed */
    }
    .yes-button{
      background: #7E219E;
      //color: black;
    }

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.192); // Adjust the alpha value for transparency
      z-index: -999999; // Ensure the overlay is behind the modal content
    }
    ion-card {
      margin-top: 8%;
      margin-right: 2%;
      margin-left: 2%;
        div {
            margin-top: 2rem;
            ion-avatar {
                border-radius: 50%;
                border: 1px solid var(--ion-color-tertiary);
                height: 4.5rem;
                width: 4.5rem;
            }
            ion-label {
                display: transparent;
                font-weight: 700;
                font-size: 1.1rem;
                margin-bottom: 1rem;
                margin-top: 0.5rem;
            }
        }
    
        ion-list {
            background: transparent;
            
            ion-item {
              
                --padding-bottom: 2%;
                // --padding-top: 1rem;
                --padding-start: 0;
                --padding-end: 0;
                ion-toggle {
                    margin-right: -0.6rem;
                }
            }
        }
        ion-toggle {
            // --size: 16px;
            --background-checked: #7E219E;
          }
    
       
    }

    .digitx{ //added code
      text-align: center;
      margin-bottom: 7vh;
    
      ion-button{
        font-size: 1.2rem;
      }
    }

    .rounded-input {
      border-radius: 560px; /* adjust the value as needed */
      background-color: #fff;
    }
  
    .input-row {
      background-color: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    


  .numberBox{
    // background-color: #f2f2f2;
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: center;
 
     div{
       width: 30px;
       height: 30px;
       border-radius: 105%;
       background-color: #f0f0f0;
       margin: 20px;
       align-self: center;
 
       ion-input{
         margin-bottom: 10px;
         color: var(--ion-color-base);
         font-size: 20px;
         //font-weight: 500 !important;
         align-items: center;
        // padding-top: none !important ;
         justify-content: center;
         text-align: center;
         
       }
     }
   }

   .buttons{
      
    bottom: 0;
  
    .pinB{
  
  text-align: center;
  
  ion-button{
    font-size: 1.2rem;
  }
  color: var(--ion-color-base);
  outline: none;
  box-shadow: none white;
  padding: 4px 0px 0px 4px;
  font-weight: 200;
    }
  }
  
  }