<div class="container">
  <h3>Review Withdrawal</h3>
  

  <div class="table-container">
      <table>
          <tbody>
              <tr>
                  <td>Bank Name</td>
                  <td>{{ bankName }}</td>
              </tr>
              <tr>
                  <td>Account Number</td>
                  <td>{{ accountNumber }}</td>
              </tr>
              <tr>
                <td>Account Name</td>
                <td>{{ accountName }}</td>
            </tr>
            <tr>
              <td>Amount</td>
              <td>₦{{ amount }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ description }}</td>
        </tr>
          </tbody>
      </table>
  </div>

  <div class="sm-velux-logo">
      <img src="assets/images/sm-velux-logo.png" alt="VeluxPay logo">
  </div>

  <div class="button-container">
    <button color="success" expand="block" (click)="confirmWithdrawal()" class="yes-button">Confirm Withdrawal</button>
    <button color="danger" expand="block" (click)="Close()" class="no-button">Cancel</button>
  </div>
</div>