<div class="keyboard">
  <button (click)="onKey('1')">1</button>
  <button (click)="onKey('2')">2</button>
  <button (click)="onKey('3')">3</button>
  <button (click)="onKey('4')">4</button>
  <button (click)="onKey('5')">5</button>
  <button (click)="onKey('6')">6</button>
  <button (click)="onKey('7')">7</button>
  <button (click)="onKey('8')">8</button>
  <button (click)="onKey('9')">9</button>
  <button (click)="onKey('0')">0</button>
  <button (click)="onKey('backspace')" class="special-key">Backspace</button>
  <button (click)="onKey('enter')" class="special-key">Enter</button>
</div>
