<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" ></ion-back-button>
      
    </ion-buttons>
    <ion-title color="warning" mode="ios">Transaction History</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="ios" [value]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="in">
        <ion-label>In-flow</ion-label>
      </ion-segment-button>
      <ion-segment-button value="out">
        <ion-label>Out-flow</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="transaction-wrapper" >
  <ion-list class="transactions" *ngIf="transactionx?.length >= 1" [inset]="false">
    <ion-list-header>
      <ion-label color="secondary">Recent Transaction</ion-label> 
    </ion-list-header>

    <ion-item-group lines="none">
      <ng-container *ngFor="let transaction of transactionx.slice(0, 10)">

        <!-- Inapp and withdrawal list items -->
        <ion-item lines="full" (click)="setOpen(transaction)" lines="none">
          <!-- Inapp transaction -->
          <ion-thumbnail slot="start" class="ion-text-center" *ngIf="transaction.transaction_type === 'inapp'">
            <img
              [src]="'assets/svgs/' + (transaction?.sender_tagname === userData?.loginData.user_tag ? 'sent.svg' : 'receive.svg')" />
          </ion-thumbnail>

          <!-- Withdrawal transaction -->
          <ion-thumbnail slot="start" class="ion-text-center" *ngIf="transaction.transaction_type === 'withdrawal'">
            <img
              [src]="'assets/svgs/' + (transaction?.fullname === userData?.loginData.fullname ? 'receive.svg' : 'sent.svg')" />
          </ion-thumbnail>

          <!-- Deposit transaction -->
          <ion-thumbnail slot="start" class="ion-text-center" *ngIf="transaction.transaction_type === 'credit'">
            <img
              [src]="'assets/svgs/' + (transaction?.full_name === userData?.loginData.fullname ? 'sent.svg' : 'receive.svg')" />
          </ion-thumbnail>

          <!-- VTU transaction -->
          <ion-thumbnail slot="start" class="ion-text-center" *ngIf="transaction.transaction_type === 'debit'">
            <img src="assets/svgs/sent.svg" />
          </ion-thumbnail>

          <ion-label class="transaction-text">
            <ion-text>
              <!-- Common label content for both transaction types -->
              {{ transaction?.sender_tagname === userData?.loginData.user_tag ? transaction?.receiver_name :
              transaction?.sender_name }}
              <!-- or -->
              {{ transaction?.accountname }}
              <!-- or -->
              {{ transaction?.user_tag }}
              <!-- or -->
               {{ transaction?.vtupackage }} 
            </ion-text>
            <p class="transaction-time">
              <ion-text >
                {{ transaction?.date | date: 'MMM d, y' }}
              </ion-text>
            </p>
          </ion-label>

          <!-- Inapp transaction amount and time -->
          <ion-text class="transaction-text amount-text-right" slot="end"
            *ngIf="transaction?.sender_tagname === userData?.loginData.user_tag && transaction.transaction_type === 'inapp'"
            color="danger">
            {{ '-₦' + formatAmountWithCommas(transaction.amount) }} <br>
            <ion-note color="white">{{ transaction?.date | date: 'hh:mm a' }}</ion-note>
          </ion-text>
          <ion-text class="transaction-text amount-text-right" slot="end"
            *ngIf="transaction.sender_tagname !== userData?.loginData.user_tag && transaction.transaction_type === 'inapp'"
            color="success">
            {{ '₦' + formatAmountWithCommas(transaction.amount) }} <br>
            <ion-note color="white">{{ transaction?.date | date: 'hh:mm a' }}</ion-note>
          </ion-text>

          <!-- Withdrawal transaction amount and time -->
          <ion-text class="transaction-text amount-text-right" slot="end"
            *ngIf="transaction?.transaction_type === 'withdrawal'" color="danger">
            {{ '-₦' + formatAmountWithCommas(transaction.amount) }} <br>
            <ion-note color="white">{{ transaction?.date | date: 'hh:mm a' }}</ion-note>
          </ion-text>

          <!-- Deposit transaction amount and time -->
          <ion-text class="transaction-text amount-text-right" slot="end"
            *ngIf="transaction?.transaction_type === 'credit'" color="success">
            {{ '+₦' + formatAmountWithCommas(transaction.amount) }} <br>
            <ion-note color="white">{{ transaction?.date | date: 'hh:mm a' }}</ion-note>
          </ion-text>
          <!-- or -->
          <!-- Deposit transaction amount and time -->
          <ion-text class="transaction-text amount-text-right" slot="end"
            *ngIf="transaction?.transaction_type === 'debit'" color="danger">
            {{ '-₦' + formatAmountWithCommas(transaction.amount) }} <br>
            <ion-note color="white">{{ transaction?.date | date: 'hh:mm a' }}</ion-note>
          </ion-text>

        </ion-item>




      </ng-container>
    </ion-item-group>
  </ion-list>





  <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false" [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-content >
        <ion-toolbar [color]="isDarkMode ? 'dark' : 'white'">
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="closeModal()" class="close-btn"><b><strong>X</strong></b></ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-item  class="ion-receipt-header" lines="'none">
          <ion-label class="receipt-header">
            <img src="assets/images/pay_success.png" alt="Transaction receipt">
            <!-- sent to another user -->
            <ng-container
              *ngIf="selectedTransaction?.sender_tagname === userData?.loginData.user_tag 
              && selectedTransaction.transaction_type === 'inapp'">
              <h3>Payment Successful</h3>
            </ng-container>
            <!-- received from another user -->
            <ng-container
              *ngIf="selectedTransaction?.sender_tagname !== userData?.loginData.user_tag 
              && selectedTransaction.transaction_type === 'inapp'">
              <h3>Received </h3>
            </ng-container>
            <!-- withdrawal done here -->
            <ng-container *ngIf="selectedTransaction?.transaction_type === 'withdrawal'">
              <h3>Withdrawal Successful</h3>
            </ng-container>
              <!-- withdrawal done here -->
              <ng-container *ngIf="selectedTransaction?.transaction_type === 'credit'">
                <h3>Deposit Successful</h3>
              </ng-container>

              <ng-container
              *ngIf="selectedTransaction?.sender_tagname === userData?.loginData.user_tag 
              && selectedTransaction.transaction_type === 'inapp'">
              <p>Your payment has been successfully done.</p>
              </ng-container>

              <ng-container
              *ngIf="selectedTransaction?.sender_tagname !== userData?.loginData.user_tag 
              && selectedTransaction.transaction_type === 'inapp'">
              <p>Your payment has been successfully received.</p>
              </ng-container>

              <ng-container *ngIf="selectedTransaction?.transaction_type === 'withdrawal'">
                <p>Your withdrawal request is successful.</p>
              </ng-container>

              <ng-container *ngIf="selectedTransaction?.transaction_type === 'credit'">
                <p>Your deposit is successful.</p>
              </ng-container>
              <ng-container *ngIf="selectedTransaction?.transaction_type === 'debit'">
                <h3>Top-up successful</h3>
              </ng-container>
          </ion-label>
        </ion-item>

        <ion-item >
          <ion-label class="payment">
            <p>Total Payment</p>
            <p class="payment-amount">₦{{ formatAmountWithCommas(selectedTransaction.amount) }}</p>
          </ion-label>
        </ion-item>

        <ion-list  class="payment-table">
          <ion-item  lines="none">
            <table>
              <tbody>
                <tr class="transac-details">
                  <td>Ref Number</td>
                  <td>{{ selectedTransaction?.transaction_id }} 
                    {{ selectedTransaction?.tr_id }}
                  </td>
                </tr>

                <tr class="transac-details">
                  <td>Date and Time</td>
                  <td>{{ selectedTransaction?.date | date: 'dd-MM-yyyy' }} {{ selectedTransaction?.date | date:
                    'HH:mm:ss' }}</td>
                </tr>

                <!-- Conditionally show/hide based on transaction_type -->
                <ng-container
                  *ngIf="selectedTransaction?.sender_tagname === userData?.loginData.user_tag && selectedTransaction.transaction_type === 'inapp'">
                  <tr class="transac-details">
                    <td>Recipient Name</td>
                    <td>{{ selectedTransaction.receiver_tagname !== userData?.loginData.user_tag ?
                      selectedTransaction.receiver_name : selectedTransaction.receiver_name }}</td>
                  </tr>
                </ng-container>
                <ng-container
                  *ngIf="selectedTransaction?.sender_tagname !== userData?.loginData.user_tag && selectedTransaction.transaction_type === 'inapp'">
                  <tr class="transac-details">
                    <td>Sender Name</td>
                    <td>{{ selectedTransaction.receiver_tagname === userData?.loginData.user_tag ?
                      selectedTransaction.receiver_name : selectedTransaction.receiver_name }}</td>
                  </tr>
                </ng-container>

                <ng-container
                  *ngIf="selectedTransaction.transaction_type === 'withdrawal'">
                  <tr class="transac-details">
                    <td>Bank Name</td>
                    <td>{{ selectedTransaction.bankname }}</td>
                  </tr>
                </ng-container>

                <ng-container
                *ngIf="selectedTransaction.transaction_type === 'withdrawal'">
                <tr class="transac-details">
                  <td>Account Name</td>
                  <td>{{ selectedTransaction.accountname }}</td>
                </tr>
              </ng-container>

                <ng-container
                *ngIf="selectedTransaction.transaction_type === 'withdrawal'">
                <tr class="transac-details">
                  <td>Account Number</td>
                  <td>{{ selectedTransaction.receiver_tagname === userData?.loginData.user_tag ?
                    selectedTransaction.receiver_name : selectedTransaction.receiver_name }}</td>
                </tr>
              </ng-container>

              <ng-container
              *ngIf="selectedTransaction.transaction_type === 'debit'">
              <tr class="transac-details">
                <td>Service Provider</td>
                <td>{{ selectedTransaction.vtupackage.toUpperCase() }}</td>
              </tr>
            </ng-container>

                <!-- Add more conditionals for other transaction types -->

              </tbody>
            </table>
          </ion-item>
        </ion-list>

        <ion-item  class="sm-velux-logo">
          <ion-label>
            <img src="assets/images/sm-velux-logo.png" alt="VeluxPay logo">
          </ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-list class="transactions" *ngIf="transactionx?.length == 0">
    <ion-list-header>
      <ion-label color="secondary">Recent Transaction</ion-label>
    </ion-list-header>
    <ion-item-group>
      <ion-item lines="full">

        <ion-label class="ion-text-center">
          <ion-text>No Transaction Found!</ion-text>
        </ion-label>

      </ion-item>
    </ion-item-group>


  </ion-list>
</ion-content>
