<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-buttons>
        <ion-back-button defaultHref="/tabs/home" mode="ios"></ion-back-button>
      </ion-buttons>

      <ion-card-title>
        <h3 class="ion-text-center" style="color: #7e219e">
          Withdrawal
          <ion-icon
            class="scan"
            size="small"
            color="warning"
            name="help"
            id="open-modalq"
            expand="block"
            style="float: right"
          ></ion-icon>
        </h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-modal
        class="ion-modal"
        trigger="open-modalq"
        [initialBreakpoint]="1"
        [breakpoints]="[0, 1]"
      >
        <ng-template>
          <h2 class="blockx">When Will I get my funds?</h2>
          <h3 class="blocky ion-padding">
            Withdrawals will reach your bank account within a few minutes. Some
            Withdrawals may take 1-2 days, depending on delays at our banking
            partners.
          </h3>
        </ng-template>
      </ion-modal>

      <ion-list lines="full">
        <form [formGroup]="form">
          <div class="ion-margin-vertical">
            <ion-item lines="none" id="open-bankL">
              <ion-input
                label="Bank Name:"
                label-placement="stacked"
                minlength="3"
                errorText="*Bank Name is required."
                formControlName="bankName"
                type="text"
              ></ion-input>
            </ion-item>
          </div>

          <div class="ion-margin-vertical">
            <ion-item lines="none">
              <ion-input
                label="Account Number:"
                label-placement="floating"
                minlength="10"
                maxlength="10"
                (ionInput)="onNumberChange($event)"
                errorText="* Account Number is required and must be valid."
                formControlName="accountNumber"
                type="tel"
              ></ion-input>
            </ion-item>
          </div>

          <div class="ion-margin-vertical">
            <ion-item lines="none">
              <ion-input
                *ngIf="accountName"
                label="Account Name:"
                label-placement="floating"
                formControlName="accountName"
                errorText="* Account Name is required and must be valid."
                type="text"
                value="{{ accountName }}"
                readonly
                name="accountName"
                [ngStyle]="{'color': accountName === 'Invalid Account number or bank' ? 'red' : ''}"
              >
              </ion-input>
            </ion-item>
          </div>

          <div class="ion-margin-vertical">
            <ion-item lines="none">
              <ion-input
                label="Amount"
                label-placement="floating"
                minlength="3"
                errorText="* Amount is required and must be greater than or equal to ₦100."
                [counterFormatter]="customCounterFormatterE"
                formControlName="amountx"
                type="tel"
              ></ion-input>
            </ion-item>
          </div>

          <div class="ion-margin-vertical">
            <ion-item lines="none">
              <ion-textarea
                label="Description:"
                errorText="* Payment Description is required and must be a valid."
                formControlName="email"
                labelPlacement="floating"
                fill="outline"
                placeholder="Enter payment description"
              ></ion-textarea>
            </ion-item>
          </div>
        </form>

        <ion-modal
          #modal1
          trigger="open-bankL"
          class="search-bar"
          [initialBreakpoint]="0.25"
          [breakpoints]="[0, 0.25, 0.5, 0.75]"
        >
          <ng-template>
            <ion-content>
              <ion-searchbar
                placeholder="Search Banks"
                [(ngModel)]="searchTerm"
                (ionInput)="filterBank()"
              ></ion-searchbar>
              <ion-list *ngIf="banks?.length >= 1">
                <ng-container *ngFor="let bank of filteredBanks">
                  <ion-item class="custom-scroll" (click)="onBankSelect(bank)">
                    <ion-label>
                      <h2>{{bank?.name}}</h2>
                    </ion-label>
                  </ion-item>
                </ng-container>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-loading
          [message]="'Please wait...'"
          [duration]="10000"
          [showBackdrop]="true"
          [translucent]="true"
          [spinner]="'crescent'"
        ></ion-loading>

        <div>
          <ion-button color="light" disabled class="ion-padding tf">
            <ion-text>This transaction has a fee of ₦50 </ion-text>
          </ion-button>
        </div>

        <ion-button
          type="submit"
          class="ion-margin-horizontal"
          size="large"
          expand="block"
          shape="round"
          color="warning"
          (click)="submitForm()"
        >
          <ion-text>Review withdrawal</ion-text>
        </ion-button>

        <br /><br />
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
