<ion-content>
  <ion-header *ngIf="showContent">
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/wallets"></ion-back-button>
  
      </ion-buttons>
      <ion-title>Airtime</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-header *ngIf="!showContent">
    <ion-toolbar >
      <ion-buttons slot="start" (click)="showContent = true">
        <ion-back-button defaultHref></ion-back-button>
  
      </ion-buttons>
      <ion-title>Airtime</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  
  <ion-content *ngIf="showContent" >
    <!-- Content 1 to be shown/hidden goes here -->
      
      <ion-item color="tertiary" class="bundle-items"  lines="none" value="MTN"  (click)="logCardValue('MTN'); showContent = false">
        <ion-img src="assets/images/mtn-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel" font-size="16px;"> MTN </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      
      <ion-item color="tertiary" class="bundle-items" lines="none"  value="Airtel" (click)="logCardValue('Airtel'); showContent = false">
        <ion-img src="assets/images/airtel-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel"> Airtel</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      
      </ion-item>
    
      <ion-item  color="tertiary" class="bundle-items" lines="none" value="GLO"  (click)="logCardValue('Glo'); showContent = false">
        <ion-img src="assets/images/glo-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel"> GLO </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      
      </ion-item>
    
      <ion-item color="tertiary" class="bundle-items" lines="none" value="9mobile"  (click)="logCardValue('9mobile'); showContent = false" >
        <ion-img src="assets/images/9mobile-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel"> 9mobile </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    
      </ion-item>
  
  </ion-content>
  
  <ion-content *ngIf="!showContent" >
    <div style="background: black;">
    <ion-list>
      <form>
      
          <ion-item >
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input type="tel" minlength="11" maxlength="11" message="Phone Number must be 11 characters long" [(ngModel)]="phone" name="phone"></ion-input>
          </ion-item>
          <ion-item > 
            <ion-label position="floating">Airtime Amount</ion-label>
            <ion-input type="number"  [(ngModel)]="amountx" name="amountx"></ion-input>
          </ion-item>
          
            <ion-item >
              <ion-label position="floating">Transaction Pin</ion-label>
              <ion-input type="password" minlength="4" maxlength="4" message="Pin must be 4 characters long" [(ngModel)]="pin" name="pin"></ion-input>
            </ion-item>
            <div style="background: black;">
              <br>
              <ion-button class="top-upx" expand="block" width="50%" color="warning" (click)="topUp()"> <ion-icon name="reload-circle-outline"></ion-icon>Top Up</ion-button>
          
         
            </div>
          
        
         </form>
      </ion-list>
    </div>
  </ion-content>
  
</ion-content>