<ion-content class="head">
  <ion-header *ngIf="showContent">
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/wallets"></ion-back-button>
  
      </ion-buttons>
      <ion-title>Airtime</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-header *ngIf="!showContent">
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-button (click)="showContent = true">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Airtime</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  
  <ion-content *ngIf="showContent" >
    <br>
    <!-- Content 1 to be shown/hidden goes here -->
      
      <ion-item color="tertiary" class="bundle-items"  lines="none" value="MTN"  (click)="logCardValue('mtn'); showContent = false">
        <ion-img src="assets/images/mtn-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel" font-size="16px;"> MTN </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      
      <ion-item color="tertiary" class="bundle-items" lines="none"  value="Airtel" (click)="logCardValue('airtel'); showContent = false">
        <ion-img src="assets/images/airtel-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel"> Airtel</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      
      </ion-item>
    
      <ion-item  color="tertiary" class="bundle-items" lines="none" value="GLO"  (click)="logCardValue('glo'); showContent = false">
        <ion-img src="assets/images/glo-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel"> GLO </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      
      </ion-item>
    
      <ion-item color="tertiary" class="bundle-items" lines="none" value="9mobile"  (click)="logCardValue('etisalat'); showContent = false" >
        <ion-img src="assets/images/9mobile-logo-img.png" alt="Mtn"></ion-img>
        <ion-label class="ion-llabel"> 9mobile </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    
      </ion-item>
  
  </ion-content>
  
  <ion-content *ngIf="!showContent" >
    <div>
    <ion-list>
      <form>
        <div class="ion-margin-vertical">
         
            <ion-input label="Phone Number" label-placement="floating" autocomplete="" [counter]="true" minlength="11" maxlength="11"[counterFormatter]="customCounterFormatterE" errorText="* Please enter phone number" [(ngModel)]="phone" name="phone" type="tel" ></ion-input>
          
        </div>

        <div class="ion-margin-vertical">
         
            <ion-input label="Airtime Amount" label-placement="floating" autocomplete="" [counter]="true" minlength="3" [counterFormatter]="customCounterFormatterE" errorText="* Please enter valid amount" [(ngModel)]="amountx" name="amountx" type="number" ></ion-input>
          
        </div>
        
        <div class="ion-margin-vertical">
         
            <ion-input label="Transaction Pin" label-placement="floating" autocomplete="" [counter]="true" minlength="4" maxlength="4" [counterFormatter]="customCounterFormatterE" errorText="* Please enter your pin" [(ngModel)]="pin" name="pin" type="password" ></ion-input>
          
        </div>
        
            <div>
              <br>
              <ion-button class="top-upx" expand="block" width="50%" color="warning" (click)="topUp()"> <ion-icon name="reload-circle-outline"></ion-icon>Top Up</ion-button>
          
         
            </div>
          
        
         </form>
      </ion-list>
    </div>
  </ion-content>
  
</ion-content>