<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/wallets"></ion-back-button>

    </ion-buttons>
    <ion-title>Virtual Top-Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <ion-row>

    <ion-col>
  <ion-card color="secondary" (click)="airtime()">
    <ion-card-header>
      <ion-card-title style="align-items: center;">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
     Airtime
    </ion-card-content>
  </ion-card>
    </ion-col>

    <ion-col>
 
  <ion-card color="success" (click)="data()">
    <ion-card-header>
      <ion-card-title style="align-items: center;">
        <ion-icon name="wifi-outline"></ion-icon>
      </ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      Data Bundles
    </ion-card-content>
  </ion-card>

    </ion-col>
  </ion-row>
   -->

  
   <ion-row>

    <ion-col>
  <ion-card color="medium" (click)="airtime()">
    <ion-card-header>
      <ion-card-title style="align-items: center;">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
     Airtime
    </ion-card-content>
  </ion-card>
    </ion-col>

    <ion-col>
 
  
      <ion-card color="light" (click)="data()">
        <ion-card-header>
          <ion-card-title style="align-items: center;">
            <ion-icon name="wifi-outline"></ion-icon>
          </ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content class="amt ion-text-center ion-text-wrap">
          Data Bundles
        </ion-card-content>
      </ion-card>
  
    </ion-col>
  </ion-row>
 


  
  
  
  
 
</ion-content>
