<form [formGroup]="form" class="ion-margin"> 
  <div class="ion-margin-vertical">
    <ion-item lines="none">
      <ion-input label="Sub-tag*" label-placement="floating" [counter]="true" minlength="4" [counterFormatter]="customCounterFormatterE" errorText="* Please enter email or tag" formControlName="email" type="text" placeholder="Enter email"></ion-input>
    </ion-item>
  </div>

  <div class="ion-no-margin">
    <ion-item lines="none">
      <ion-icon 
        [name]="type ? 'eye' : 'eye-off'" 
        slot="end" 
        color="warning" 
        (click)="changeType()">
      </ion-icon>
      <ion-input label="Password*" label-placement="floating" errorText="* Please enter your password" formControlName="password" [type]="type ? 'password' : 'text'" 
        placeholder="Enter password" [counter]="true" minlength="6" [counterFormatter]="customCounterFormatter"></ion-input>
    </ion-item>
  </div>
</form>

<div class="ion-margin-horizontal">
  <ion-button
   class="ion-margin-horizontal"
    size="large" 
    expand="block" 
    shape="round" 
    color="warning"
    (click)="onSubmit()">
    <ion-text>Log In</ion-text>
  </ion-button>
</div>