ion-content{
    margin-top:23px;
    ion-item.invalid ion-input {
        --border-color: var(--ion-color-danger);
      }
      
      ion-item.valid ion-input {
        --border-color: var(--ion-color-success);
      }
      
      .validation-message {
        font-size: 0.8rem;
        color: var(--ion-color-danger);
        margin-top: 0.2rem;
      }
      .error {
        font-size: 0.75em !important;
    }
    ion-list{
       
.cp{
    width: 333px;
height: 46px;
left: 28px;
top: 128px;

}

.cnp{
    width: 333px;
height: 46px;
left: 28px;
top: 128px;

}

.np{
    width: 333px;
height: 46px;
left: 28px;
top: 128px;

}

ion-button{
    left: 30.77%;
right: 30.77%;
top: 89.57%;
bottom: 6.64%;
height: 32px;
border-radius:10px;
margin-left: 25%;
margin-right: 25%;
margin-top: 456px;

}
    }
}
ion-input{
    font-size: 0.9rem;
    color:#9F27CA;
}

 ion-text {
    font-size: 0.9rem;
    //color:#9F27CA;
}
.error {
    font-size: 0.7rem !important;
}
p {
    ion-icon {
        font-size: 1.8rem;
        margin: 1vh 2vh;
    }
}
ion-button {
    margin: 5vh 0;
    color:white;
}
ion-col{


.forgotpass{
    text-align: right;
    ion-button{
        font-size: 2px;
       // position: absolute;
        // width: 85px;
        // height: 12px;
        left: 260px;
        top: 505px;

        font-family: 'aria';
        font-style: normal;
        font-weight: 100;

        //line-height: 12px;
    }

    
}

.remember{

    ion-checkbox{
        margin-right: 1px;
        padding: 0px 2px 2px 0px;
    }
    text-align: justify;
    ion-button{
        font-size: 2px;
       // position: absolute;
        // width: 65px;
        // height: 10px;
       

        font-family: 'aria';
        font-style: normal;
        font-weight: bold;

        //line-height: 12px;
    }
}

}

ion-grid{
    margin: 0.2vh;
    ion-checkbox {
        --size: 20px;
        --background-checked: #7E219E;
      }
      .remember{
        text-align: justify;
      }
      
      ion-checkbox::part(container) {
        border-radius: 6px;
       border: solid #7E219E;
      }
}

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  .custom-alert .alert-button-group {
    padding: 8px;
  }
  
  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }