<ion-header translucent={true}>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profiles/security"></ion-back-button>

    </ion-buttons>
    <ion-title mode="ios">Change Pin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white" >
  
  <ion-button expand="block" color="secondary" class="ion-padding-vertical">
    <ion-text>Set A New Pin</ion-text>
  </ion-button> <br>

  <ion-list [inset]="true">
    
    <form [formGroup]="form" >



      <ion-item [class.valid]="form.get('old_pin').valid" [class.invalid]="form.get('old_pin').invalid">
        <ion-label position="floating" color="medium">Current Pin:</ion-label>
        <ion-input 
                    
                    placeholder="Mobile Number" 
                    type="password"
                    minlength="4"
                    maxlength="4"
                    name="old_pin"
                    (ionChange)="changeNumber($event)">
                  </ion-input>
        <div class="validation-message" *ngIf="form.get('old_pin').invalid && (form.get('old_pin').dirty || form.get('old_pin').touched)">
          Pin is required and must be valid.
        </div>
      </ion-item>
      
      
      <ion-item [class.valid]="form.get('pin').valid" [class.invalid]="form.get('pin').invalid">
        <ion-label position="floating" color="medium">New Pin:</ion-label>
        <ion-input type="password" 
                    minlength="4"
                    maxlength="4"
                    name="pin"></ion-input>
        <div class="validation-message" *ngIf="form.get('pin').invalid && (form.get('pin').dirty || form.get('pin').touched)">
          Pin is required and must be equals to 4 characters.
        </div>
      </ion-item>
      <ion-item [class.valid]="form.get('confirm_pin').valid" [class.invalid]="form.get('confirm_pin').invalid">
        <ion-label position="floating" color="medium">Confirm Pin:</ion-label>
        <ion-input type="password"
                    minlength="4"
                    maxlength="4"
                    name="confirm_pin"></ion-input>
        <div class="validation-message" *ngIf="form.get('confirm_pin').invalid && (form.get('confirm_pin').dirty || form.get('confirm_pin').touched)">
          Pins do not match.
        </div>
      </ion-item>
      
      
      </form>
      
      
      
      
      
      <ion-loading
      [message]="'Please wait...'"
      [duration]="10000"
      [showBackdrop]="true"
      [translucent]="true"
      
      [spinner]="'crescent'"
      
      ></ion-loading>
      
      
      <div class="ion-margin-horizontal">
      <br><br>
        <ion-button type="submit"
         class="ion-margin-horizontal"
          size="large" 
          expand="block" 
          shape="round" 
          color="medium"
          (click)="update()" [disabled]="form.invalid">
          <ion-text>Update Pin</ion-text>
        </ion-button>
         <br>
      </div>
    
  </ion-list>

  

</ion-content>
