<!-- 
<ion-content >

  <div class="loadbg">
     <ion-card class="ion-text-center ion-margin ion-padding">
      <ion-card-header>
  
        <div class="backbutton">
          <ion-buttons (click)="logout()">
            <ion-back-button defaultHref=""></ion-back-button>
          </ion-buttons>
        </div>
        
        <ion-buttons>
          <ion-menu-button auto-hide="false" id="click-trigger"></ion-menu-button>
  
          <ion-popover trigger="click-trigger" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding">
  
                <ion-list>
  
  
                  <ion-item>
                    -- <ion-label position="floating" color="primary">A partir</ion-label>
                    <ion-input formControlName="timeStarts" (ionFocus)="presentTimeStartsPicker()"> -
                      <ion-label>Date</ion-label>
                    !-- </ion-input>
  
                  </ion-item>
                  <ion-item>
                    <ion-label>Print</ion-label>
                  </ion-item>
  
                </ion-list>
  
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-buttons>
  
      
  
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="date"></ion-datetime>
          </ng-template>
        </ion-modal>
  
      </ion-card-header>
  
      <ion-card-content>
        
      
       <img [src]="qrCodeDataUrl" size="572" alt="QR code" class="qrCode">
       
        
    
  
        <ion-button width="70px" class="ion-margin" color="secondary" (click)="writeToClipboard(userData?.loginData.user_tag)">
          @{{ userData?.user_tag }}
          <ion-icon name="copy" slot="end"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
   
  
   
  !-- Add this code inside your <ion-content> element
    <ion-modal>
      <ion-header>
        <ion-title>Transaction Details</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
      </ion-header>
    
      <ion-content>
        !-- Add your transaction details here
        <ion-list>
          <ion-item>
            <ion-label>To:</ion-label>
            <ion-text>{{selectedTransaction?.to}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Date:</ion-label>
            <ion-text>{{selectedTransaction?.date | date: 'MMM d, y'}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Amount:</ion-label>
            <ion-text>{{selectedTransaction?.amount >= 0 ? '₦' + selectedTransaction?.amount : '-₦' + (selectedTransaction?.amount * (-1))}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-modal>
    
    !-- Add this code to your <ion-item> element to open the modal when the item is clicked -->
    <!-- <ion-item lines="full" *ngFor="let transaction of transactions" (click)="openModal(transaction)">
      -- Your ion-item content here 
    </ion-item> 
  
    <ion-list class="transactions" *ngIf="transactions?.length > 0">
  
      <ion-list-header>
        <ion-label color="medium">Transaction History</ion-label>
      </ion-list-header>
    
      <ion-item-group>
        <ion-item lines="full" *ngFor="let transaction of transactions" (click)="openModal(transaction)">
          <ion-thumbnail slot="start" class="ion-text-center">
            <img [src]="'assets/imgs/' + (transaction?.amount >= 0 ? 'received.png' : 'sent.png')" />
          </ion-thumbnail>
          <ion-label>
            <ion-text>{{transaction?.to}}</ion-text>
            <p>
              <ion-text>
                {{transaction?.date | date: 'MMM d, y'}}
              </ion-text>
            </p>
          </ion-label>
          <ion-text slot="end" color="primary">
            {{transaction?.amount >= 0 ? '₦' + transaction?.amount : '-₦' + (transaction?.amount * (-1))}}
          </ion-text>
        </ion-item>
      </ion-item-group>
    
    </ion-list>
    
  
  
  </ion-content> -->
  
<ion-content  >
 


  <ion-card class="ion-text-center ion-margin" >
    <ion-card-header>

        <ion-buttons (click)="logout()">
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
      

    </ion-card-header>

    <ion-card-content>
      
    
     <img [src]="qrCodeDataUrl" size="2288" alt="QR code" class="qrCode">
     
      
  

      <ion-button width="70px" class="ion-margin" color="light-tint" (click)="writeToClipboard(userData?.loginData.user_tag)">
        @{{ userData?.user_tag }}
        <ion-icon name="copy" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-content class="transaction-wrapper" >
    <ion-list class="transactions" *ngIf="transactions?.length >= 1" [inset]="false">
      <ion-list-header>
        <ion-label color="secondary">Recent Transaction</ion-label> 
      </ion-list-header>

      <ion-item-group>
        <ng-container *ngFor="let transaction of transactions.slice(0, 10)">

          <!-- Inapp and withdrawal list items -->
          <ion-item lines="full" (click)="setOpen(transaction)" lines="none">
        
         <!-- Inapp transaction -->
         <ion-thumbnail slot="start" class="ion-text-center" *ngIf="transaction.transaction_type === 'inapp'">
          <img
            [src]="'assets/imgs/' + (transaction?.sender_tagname === userData?.user_tag ? 'sent.png' : 'received.png')" />
        </ion-thumbnail>
          <ion-label>
            <ion-text>{{transaction?.sender_name}}</ion-text>
            <p>
              <ion-text>
                {{transaction?.date | date: 'MMM d, y'}}
              </ion-text>
            </p>
          </ion-label>
            <!-- Inapp transaction amount and time -->
            <ion-text class="transaction-text amount-text-right" slot="end"
              *ngIf="transaction.sender_tagname !== userData?.user_tag && transaction.transaction_type === 'inapp'"
              color="success">
              {{ '₦' + formatAmountWithCommas(transaction.amount) }} <br>
              <ion-note color="light">{{ transaction?.date | date: 'hh:mm a' }}</ion-note>
            </ion-text>

        </ion-item>
        </ng-container>
      </ion-item-group>
    
    </ion-list>




 
    <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="true" [enterAnimation]="enterAnimation"
      [leaveAnimation]="leaveAnimation">
      <ng-template>
        <ion-content >
          <ion-toolbar >
            <ion-buttons slot="end">
              <ion-button color="danger" (click)="closeModal()" class="close-btn"><b><strong>X</strong></b></ion-button>
            </ion-buttons>
          </ion-toolbar>

          <ion-item  class="ion-receipt-header" lines="'none">
            <ion-label class="receipt-header">
              <img src="assets/images/pay_success.png" alt="Transaction receipt">
              
              <!-- received from another user -->
              <ng-container
                *ngIf="selectedTransaction?.sender_tagname !== userData?.user_tag && selectedTransaction?.transaction_type === 'inapp'">
                <h3>Received </h3>
              </ng-container>
            </ion-label>
          </ion-item>

          <ion-item >
            <ion-label class="payment">
              <p>Total Payment</p>
              <p class="payment-amount">₦{{ formatAmountWithCommas(selectedTransaction.amount) }}</p>
            </ion-label>
          </ion-item>

          <ion-list  class="payment-table">
            <ion-item  lines="none">
              <table>
                <tbody>
                  <tr class="transac-details">
                    <td>Ref Number</td>
                    <td>{{ selectedTransaction?.transaction_id }} 
                      {{ selectedTransaction?.tr_id }}
                    </td>
                  </tr>

                  <tr class="transac-details">
                    <td>Date and Time</td>
                    <td>{{ selectedTransaction?.date | date: 'dd-MM-yyyy' }} {{ selectedTransaction?.date | date:
                      'HH:mm:ss' }}</td>
                  </tr>

                  <!-- Conditionally show/hide based on transaction_type -->
                  <ng-container
                    *ngIf="selectedTransaction?.sender_tagname === userData?.loginData.user_tag && selectedTransaction.transaction_type === 'inapp'">
                    <tr class="transac-details">
                      <td>Recipient Name</td>
                      <td>{{ selectedTransaction.receiver_tagname !== userData?.loginData.user_tag ?
                        selectedTransaction.receiver_name : selectedTransaction.receiver_name }}</td>
                    </tr>
                  </ng-container>
                  <ng-container
                  *ngIf="selectedTransaction?.sender_tagname !== userData?.user_tag && selectedTransaction?.transaction_type === 'inapp'">
                    <tr class="transac-details">
                      <td>Sender Name</td>
                      <td>{{ selectedTransaction.receiver_tagname === userData?.loginData.user_tag ?
                        selectedTransaction.receiver_name : selectedTransaction.receiver_name }}</td>
                    </tr>
                  </ng-container>

                  <!-- Add more conditionals for other transaction types -->

                </tbody>
              </table>
            </ion-item>
          </ion-list>

          <ion-item  class="sm-velux-logo">
            <ion-label>
              <img src="assets/images/sm-velux-logo.png" alt="VeluxPay logo">
            </ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-list class="transactions" *ngIf="transactions?.length == 0">
      <ion-list-header>
        <ion-label color="secondary">Recent Transaction</ion-label>
      </ion-list-header>
      <ion-item-group>
        <ion-item lines="full">

          <ion-label class="ion-text-center">
            <ion-text>No Transaction Found!</ion-text>
          </ion-label>

        </ion-item>
      </ion-item-group>


    </ion-list>
  </ion-content>

</ion-content>