<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-icon
      class="scan"
      size="large"
      slot="end"
      name="scan-sharp"
      (click)="startScan()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">
  <ion-card class="ion-text-center ion-padding" style="box-shadow: none">
    <ion-card-content>
      <ion-text
        *ngIf="formattedPrice"
        style="font-weight: bold; font-size: 0.9rem"
        >Balance ₦{{formattedPrice}}</ion-text
      >
      <!--Altered font size and weight-->
      <ion-text
        *ngIf="!formattedPrice"
        style="font-weight: bold; font-size: 0.9rem"
        >Balance ₦0</ion-text
      >
      <!--Altered font size and weight-->

      <ion-item lines="none" text-wrap class="item">
        <ion-input
          readonly
          [(ngModel)]=" '₦ ' + amount "
          min="50"
          type="4444"
          class="cp"
        ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Template for when the user has no recent transactions -->
  <ion-item lines="none" [inset]="true" id="open-modalSend">
    <ion-avatar class="user-icon" slot="start">
      <ion-img
        *ngIf="selectedTag && (selectedTag.image !== '0' && selectedTag.image !== null && selectedTag.image !== undefined && selectedTag.image !== '')"
        [src]="'https://api.veluxpay.com/' + selectedTag.image"
      ></ion-img>
      <ion-img
        *ngIf="selectedTag && (selectedTag.image === '0' || selectedTag.image === null || selectedTag.image === undefined || selectedTag.image === '')"
        src="assets/images/avatar.png"
        alt="Dummy Image"
      ></ion-img>
      <ion-icon *ngIf="!selectedTag" name="person-circle"></ion-icon>
    </ion-avatar>

    <ion-label>
      <ion-text *ngIf="!selectedTag">Add receiver</ion-text>
      <ion-text *ngIf="selectedTag">{{ selectedTag.full_name }} </ion-text
      ><br *ngIf="selectedTag" />
      <ion-note *ngIf="selectedTag">@{{ selectedTag.user_tag }}</ion-note>
    </ion-label>
    <ion-icon slot="end" class="p" name="pencil-outline"></ion-icon>
  </ion-item>

  <ion-modal
    #modal
    trigger="open-modalSend"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
  >
    <ng-template>
      <ion-content>
        <ion-searchbar
          placeholder="Search user tagname"
          [(ngModel)]="searchTerm"
          (ionInput)="filterTag()"
          (click)="modal.setCurrentBreakpoint(0.75)"
        ></ion-searchbar>
        <ion-list *ngIf="tagName?.length >= 1 && searchTerm.length > 0">
          <ng-container *ngFor="let tag of filteredTags">
            <ion-item
              (click)="onTagSelect(tag)"
              *ngIf="tag.full_name !== userData?.loginData.full_name && tag.user_tag !== userData?.loginData.user_tag"
            >
              <ion-avatar slot="start">
                <ion-img
                  *ngIf="tag?.image !== '0' && tag?.image !== null && tag?.image !== undefined && tag?.image !== ''"
                  [src]="'https://api.veluxpay.com/' + tag?.image"
                ></ion-img>
                <ion-img
                  *ngIf="tag?.image === '0' || tag?.image === null || tag?.image === undefined || tag?.image === ''"
                  src="assets/images/avatar.png"
                  alt="Dummy Image"
                ></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{tag?.full_name}}</h2>
                <p>{{tag?.user_tag}}</p>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-list>
    <ion-grid class="buttons ion-padding">
      <ion-row>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('1')"
            >1</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('2')"
            >2</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('3')"
            >3</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('4')"
            >4</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('5')"
            >5</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('6')"
            >6</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('7')"
            >7</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('8')"
            >8</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('9')"
            >9</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <!-- <ion-button fill="clear" class="button" (click)="clear()">Clear</ion-button> -->
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="set('0')"
            >0</ion-button
          >
        </ion-col>
        <ion-col class="digits" size="4">
          <ion-button fill="clear" class="button" (click)="back()"
            ><ion-icon name="backspace"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-button
    class="sendB"
    shape="block"
    (click)="setOpen(true)"
    color="warning"
    [disabled]="!amount || !selectedTag"
  >
    <ion-text color="white" style="font-weight: bold"
      >SEND</ion-text
    ></ion-button
  >
  <!--cpitalized send-->

  <p
    (click)="book()"
    style="
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      color: #b7b7b7;
    "
  >
    <ion-text>Book A Transaction</ion-text>
  </p>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <ion-card
          class="ion-text-center ion-no-margin"
          style="box-shadow: none"
        >
          <ion-card-header>
            <ion-toolbar style="box-shadow: none">
              <ion-buttons slot="start">
                <ion-button (click)="isModalOpen = false">
                  <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                </ion-button>
              </ion-buttons>
              <!-- <ion-button (click)="setOpen(false)">Close</ion-button> -->
              <ion-card-title class="tit" mode="ios"
                >Enter PIN code</ion-card-title
              >
            </ion-toolbar>
          </ion-card-header>

          <ion-card-content>
            <div align="center">
              <ion-avatar class="avatar-large">
                <img
                  *ngIf="userImage"
                  [src]="'https://api.veluxpay.com/' + userImage"
                  alt=""
                />
                <img
                  *ngIf="!userImage"
                  src="assets/images/avatar.png"
                  alt="Dummy Image"
                />
                <img
                  *ngIf="userImage === 0"
                  src="assets/images/avatar.png"
                  alt="Dummy Image"
                />
              </ion-avatar>
            </div>
            <div class="numberBox">
              <div class="ion-text-center ion-padding" id="pin1">
                <ion-input
                  type="password"
                  id="pin1"
                  readonly
                  autocomplete="off"
                  class="ion-text-center ion-padding"
                  value="{{pin.substring(0,1)}}"
                ></ion-input>
              </div>
              <div class="ion-text-center ion-padding" id="pin2">
                <ion-input
                  type="password"
                  id="pin2"
                  readonly
                  autocomplete="off"
                  class="ion-text-center ion-padding"
                  value="{{pin.substring(1,2)}}"
                ></ion-input>
              </div>
              <div class="ion-text-center ion-padding" id="pin3">
                <ion-input
                  type="password"
                  id="pin3"
                  readonly
                  autocomplete="off"
                  class="ion-text-center ion-padding"
                  value="{{pin.substring(2,3)}}"
                ></ion-input>
              </div>
              <div class="ion-text-center ion-padding" id="pin4">
                <ion-input
                  type="password"
                  id="pin4"
                  readonly
                  autocomplete="off"
                  class="ion-text-center ion-padding"
                  value="{{pin.substring(3,4)}}"
                ></ion-input>
              </div>
            </div>

            <ion-list>
              <ion-grid class="buttons ion-padding">
                <ion-row>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('1')"
                      >1</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('2')"
                      >2</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('3')"
                      >3</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('4')"
                      >4</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('5')"
                      >5</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('6')"
                      >6</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('7')"
                      >7</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('8')"
                      >8</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('9')"
                      >9</ion-button
                    >
                  </ion-col>
                  <ion-col *ngIf="bioSe" class="digitx" size="4">
                    <ion-button
                      expand="block"
                      size="large"
                      color="white"
                      (click)="initiateT()"
                    >
                      <ion-icon
                        slot="icon-only"
                        name="finger-print"
                        color="warning"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button fill="clear" class="button" (click)="sett('0')"
                      >0</ion-button
                    >
                  </ion-col>
                  <ion-col class="digitx" size="4">
                    <ion-button
                      fill="clear"
                      class="button"
                      expand="block"
                      size="large"
                      (click)="back1()"
                      ><ion-icon name="backspace"></ion-icon
                    ></ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
