<ion-header>
  <ion-toolbar>
    <ion-title>
      Set Transaction Pin
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <ion-grid class="inputs ion-padding" >
  <ion-row>
    <ion-col size="3">
      <ion-input type="text" value="{{pin.substring(0,1)}}"></ion-input>
    </ion-col>
    <ion-col size="3">
      <ion-input type="text" value="{{pin.substring(1,2)}}"></ion-input>
    </ion-col>
    <ion-col size="3">
      <ion-input type="text" value="{{pin.substring(2,3)}}"></ion-input>
    </ion-col>
    <ion-col size="3">
      <ion-input type="text" value="{{pin.substring(3,4)}}"></ion-input>
    </ion-col>
  </ion-row>

 </ion-grid>

 <ion-grid class="buttons">
  <ion-row>
    <ion-col size="4">
      <button (click)="set('0')">0</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="set('1')">1</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="set('2')">2</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="set('3')">3</button>
    </ion-col>
     <ion-col size="4">
      <button (click)="set('4')">4</button>
    </ion-col>
     <ion-col size="4">
      <button (click)="set('5')">5</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="set('6')">6</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="set('7')">7</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="set('8')">8</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="clear()">Clear</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="set('9')">9</button>
    </ion-col>
    <ion-col size="4">
      <button (click)="back()">Back</button>
    </ion-col>
  </ion-row>

 </ion-grid>

</ion-content>



