<!-- <ion-content class="transaction-modal">
 
      
    <div class="ion-padding">
      <ion-title>{{ header }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="goBack()">Close</ion-button>
      </ion-buttons>
    
      <div class="sub-header">{{ subHeader }}</div>
      <div class="message-container">
        <img [src]="imgSrc" alt="Status Image" class="status-image">
        <div [innerHTML]="message" class="message"></div>
      </div>
    </div>

</ion-content> -->

<div class="container">

  <!-- <ion-content class="container"> -->

  <div class="message-container">
    <img [src]="imgSrc" alt="Status Image" class="status-image">
    <div [innerHTML]="message" class="message"></div>
  </div>

  <div class="button-container">
    <button expand="block" (click)="yes()" class="yes-button">Yes</button>
    <button expand="block" (click)="no()" class="no-button">No</button>
  </div>
  <!-- </ion-content> -->
</div>

