<ion-content class="ion-padding ion-no-margin" >
  
<ion-card class="ion-no-margin" >

  <ion-card-content  class="">



    <div *ngIf="!showOtpForm" >
    <ion-list lines="none"  >
      
      <div  >
        <ion-list-header class="ion-text-center">
          <ion-label class="ion-text-center" >
            <h3 class="ion-text-center">REGISTER</h3>
          </ion-label>
        </ion-list-header>
        <div  >
        <p class="ion-text-center">
          <ion-text class="ion-text-center">Create your account</ion-text>

        </p>
        </div>
      </div>

        <form [formGroup]="form" >
          
<!-- 
          <div class="ion-margin-vertical">
           
              <ion-input label="Full Name:" label-placement="floating" fill="outline" [counter]="true" [counterFormatter]="customCounterFormatterE" errorText="* Full Name is required and must be a valid Name." formControlName="fullname" type="text" placeholder="Enter email"></ion-input>
            
          </div>



          <div class="ion-margin-vertical">
          
              <ion-input label="User Tag:" label-placement="floating" fill="outline" minlength="4" maxlength="8" [counter]="true" [counterFormatter]="customCounterFormatterE" errorText="* Tag Name is required" formControlName="tagname" type="text" placeholder="Enter email"></ion-input>
        
          </div> -->


          <div class="ion-vertical">
            
              <ion-input label="Email:" fill="outline" label-placement="floating"   [counterFormatter]="customCounterFormatterE" errorText="* Email is required and must be a valid email address." formControlName="email" type="email" placeholder="Enter email"></ion-input>
          
          </div>
        

<!-- 
          <div class="ion-margin-vertical">
           
              <ion-input label="Phone Number:" [counter]="true" fill="outline" label-placement="floating" minlength="11" maxlength="11" (ionInput)="changeNumber($event)" [counterFormatter]="customCounterFormatterE" errorText="* Phone Number is required and must be valid." formControlName="phone" type="tel" placeholder="Enter email"></ion-input>
        
          </div> -->


          <div class="ion-margin-vertical">
            
            <ion-input label="Password:" fill="outline" [counter]="true" label-placement="floating"  maxlength="12" minlength="6" [counterFormatter]="customCounterFormatterE" errorText="* Password is required and must be at least 6 characters long." formControlName="password" type="password" ></ion-input>
          
         
          </div>
        
          
        
          <div class="ion-margin-vertical">
            
              <ion-input label="Confirm Password:"  fill="outline" [counter]="true" label-placement="floating" maxlength="12" minlength="6" [counterFormatter]="customCounterFormatterE" errorText="* Passwords do not match" formControlName="confirm_password" type="password" ></ion-input>
        
        
          </div>
        


        </form>





        <ion-loading [message]="'Please wait...'" [duration]="10000" [showBackdrop]="true" [translucent]="true"
          [spinner]="'crescent'"></ion-loading>


        <div class="pre">
          <br><br>
          <ion-button type="submit" class="ion-margin-horizontal" size="large" expand="block" shape="round"
            color="warning" (click)="signup()" >
            <ion-text>Register</ion-text>
          </ion-button>
          <br>
        </div>

        <div class="ion-footer ion-text-center ion-no-margin ion-padding-horizontal prex">
          <span><ion-text  slot="start">
              Already have an account?
            </ion-text>
            <!-- <ion-text fill="clear" color="medium" (click)="goToLogin()"> -->
              <a href="/auth-screen">
             <ion-text fill="clear" color="warning">
                <strong>Sign In</strong>
            </ion-text>
           </a>
          </span>
        </div>
      





    </ion-list>

    </div>

    <div *ngIf="showOtpForm" class="otpForm">
      <ion-card >
        <ion-card-header>
          <ion-toolbar >
            <ion-buttons>
              <ion-back-button defaultHref="showOtpForm(false)"></ion-back-button>
           </ion-buttons>
           <ion-title mode="ios" >OTP</ion-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content style="display: block;">
          <!-- <ion-list-header class="ion-margin">
            <ion-label>
              <h3 class="ion-text-center" color="warning">Verify OTP</h3>
            </ion-label>
          </ion-list-header> -->

          <p class="ion-text-center">
            <ion-text class="ion-text-center">Enter the OTP sent to your Email Address </ion-text>
          </p>


          <form [formGroup]="otpForm" (ngSubmit)="onVerifyOTP()">

            <div class="ion-margin-vertical">
            
              <ion-input label="OTP:"  fill="outline" [counter]="true" label-placement="floating" maxlength="6" minlength="6" [counterFormatter]="customCounterFormatterE" errorText="* Enter the OTP we sent to your Email." formControlName="otp" type="text" ></ion-input>
        
        
          </div>
            <div class="pree" id="otp">
              <ion-button type="submit" class="ion-margin-horizontal " size="large" expand="block" shape="round"
                color="medium" [disabled]="otpForm.invalid">
                <ion-text>Verify OTP</ion-text>
              </ion-button>

            </div>

          </form>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-card-content>

</ion-card>


</ion-content>
