ion-content {ion-checkbox {
    --size: 22px;
    --background-checked: #7E219E;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #7E219E;
  }
  .mrt{
    font-size: 10px;
  }

    p{
        display: transparent;
            font-weight: 70;
            font-size: 12px;
            // margin-bottom: 1rem;
            // margin-top: 0.6rem;
    }
    h1{
       
        font-family: 'B Proportional Bold';
            font-style: 32px;
            font-weight: bolder;
    }
ion-col{
    padding: 2px;
}h3{
font-family: 'B Proportional Bold';
font-style: normal;
font-weight: bolder;

}
.bullet-point ion-icon {
    font-size: 8px; /* Adjust the size of the bullet point */
      }
  .email-link {
    color: #7E219E;
  }
    p{
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
    }
    div {
        margin-top: 2rem;
        ion-avatar {
            border-radius: 50%;
            border: 1px solid var(--ion-color-tertiary);
            height: 4.5rem;
            width: 4.5rem;
        }
        ion-label {
            display: transparent;
            font-weight: 500;
            font-size: 16px;
            margin-bottom:1px;
            margin-top: 0.6rem;
        }
    }

    ion-list {
        background: transparent;
        ion-item {
            --background: transparent;
            --border-style: dashed;
            --border-color: var(--ion-color-tertiary);
            --padding-start: 0;
            --padding-end: 0;
            ion-text {
                display: transparent;
                font-weight: 500;
                font-size: 16px;
                margin-bottom:1px;
                margin-top: 0.6rem;
                
            }
            ion-toggle {
                margin-right: -0.6rem;
            }
        }
    }

    ion-button {
        margin-top: 55vh;
        //color:#7E219E;
        margin-right: 25%;
        margin-left: 25%;
        --border-radius: 10px;
    }
    .signout{
        color:var(--ion-color-danger);
       // margin-top: 5vh;
       ion-img{
        padding-bottom:2px;
       }

    }

    margin-bottom: 10vh;
}

.tawk-chat-container {
    height: 600px; /* Adjust the height as needed */
    overflow: hidden;
    border: none;
  }