// *{
//     outline: 1px solid green;
// }
.fullbody{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  //  height: 100vh;
   
}ion-content {
    //  --background: url('../../../assets/imgs/main.png') no-repeat center center/cover;
    --ion-background-color: #fff;
    --ion-text-color: #ffffff;
    
  ion-img{
  margin-top: 1em;
  padding: 0px;
  width: 70%;
  } 
  
 

  
  .ion-img-container{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  

  
  .textt{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -15px;
      color: white;
      font-weight: 800;
  }
  
      ion-list {
          margin: 0 0.4vh;
          border-radius: 20px;
          // box-shadow: 0 0 3px 0 var(--ion-color-medium);
          box-shadow:none !important;
          ion-segment {
              --background: var(--ion-color-secondary);
              border-radius: 20px;
              border: 1px solid lightgray;
              --margin-top: 5px;
              --margin-bottom: 5px;
              ion-segment-button {
                  --background-checked: var(--ion-color-medium);
                  --indicator-color: var(--ion-color-medium);
                  --border-radius: 20px;
                  --color: var(--ion-color-medium);
                  --color-checked: var(--ion-color-secondary);
              }
          }
      }
  }
  .marginBottom {
      margin-bottom: .1vh;
  }
  
  ion-card{
      --ion-background-color:transparent;
      //--ion-background-color: #ffff;
      scroll-behavior: smooth;
      box-shadow: none !important;
     
  }
 
.signin{
    background-color: black;
    padding-top: 3.5rem;
    border-radius: 3rem 3rem 0 0;
    margin-bottom: 0 !important;
    //height:fit-content;
    padding-bottom: 7rem;
    // padding-left: 3em;
    // padding-right: 3em;
    padding-left: 2rem;
    padding-right: 3rem;

}
.card-content{
    padding: 0 !important;
}

