<ion-content [fullscreen]="true" mode="md">
  <div class="ion-img-container">
    <ion-icon src="assets/svgs/sign.svg"></ion-icon>
  </div>
  <ion-card class="ion-no-margin" color="">
    <ion-card-content class="card-content" color="">
      <div class="push">
        <ion-list>
          <div
            class="ion-margin marginBottom"
            (ionChange)="segmentChanged($event)"
            color="white"
          >
            <ion-segment mode="ios" [value]="segmentValue">
              <ion-segment-button value="1">
                <ion-label>Main Account</ion-label>
              </ion-segment-button>
              <ion-segment-button value="2">
                <ion-label>Sub Account</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>

          <section class="signin custom-scroll">
            <div class="textt">
              <ion-text>Sign in</ion-text>
            </div>
            <div>
              <app-sign-in *ngIf="segmentValue == '1'"></app-sign-in>
              <app-sign-in-sub *ngIf="segmentValue == '2'"></app-sign-in-sub>
            </div>
          </section>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
