// *{
//     outline: 1px solid green;
// }
.fullbody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  //  height: 100vh;
}
ion-content {
  //  --background: url('../../../assets/imgs/main.png') no-repeat center center/cover;
  //--ion-background-color: #fff;
  --ion-text-color: var(--ion-color-base);

  ion-img {
    margin-top: 0.4em;
    padding: 0px;
    width: 70%;
  }

  .custom-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 200px); /* Adjust 200px to your preference */
  }

  .ion-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    ion-icon {
      font-size: 15rem;
    }
    //background-color: var(--ion-color-white);
  }

  .textt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    color: white;
    font-weight: 800;
  }

  ion-list {
    // margin: 0 0.4vh;
    //border-radius: 20px;
    // box-shadow: 0 0 3px 0 var(--ion-color-medium);
    box-shadow: none !important;
    padding: 0;
    ion-segment {
      --background: var(--ion-color-light);
      border-radius: 20px;
      border: 1px solid lightgray;
      --margin-top: 5px;
      --margin-bottom: 5px;
      ion-segment-button {
        --background-checked: var(--ion-color-warning);
        --indicator-color: var(--ion-color-warning);
        --border-radius: 20px;
        --color: var(--ion-color-medium);
        --color-checked: var(--ion-color-secondary);
      }
    }
  }
}
.marginBottom {
  margin-bottom: 0.12vh;
}

ion-card {
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;
  --ion-background-color: transparent;
  //--ion-background-color: #ffff;
  scroll-behavior: smooth;
  box-shadow: none !important;
}

.signin {
  background-color: var(--ion-color-dark);
  padding-top: 2.5rem;
  border-radius: 3rem 3rem 0 0;
  margin-bottom: 0 !important;
  //height:fit-content;
  padding-bottom: 8.5rem;

  // padding-left: 2rem;
  // padding-right: 3rem;
}
.card-content {
  padding: 0 !important;
}
