
ion-content{
    padding-top: 2%;
    --ion-background-color:#060318 !important;
    height: 100%;

}
ion-header{
    position: absolute;
}
ion-toolbar{
    --ion-background-color:transparent;
    opacity: 0;
}
ion-img{
    margin-top: 12vh;
    padding: auto;
}   
ion-card-title h1 {
    color: white;
    font-size: 55px;
      font-weight: bolder;
      //argin-left: 50px;
      padding: -11%;
      //padding: 11px;
}
ion-card-title p {
    color: white;
    font-size: 35px;
      font-weight: 900;
      //margin: 50px;
      padding: -11%;
      
ion-card-subtitle {
   // --ion-background-color: white;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 200;
     
}
}
.chevron-button{
    display: flex;
    justify-content: center;
    align-items:center;
    ion-img{
        width: 50px;
    }
    ion-icon{
        font-size: 100px;
    }
}
.manage{
    padding-top: none;
    margin-bottom: -2%;
    width: 68%;
    display: block;
    margin:0 auto;
    margin-top: 5%;
}
ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
    height: 100%;
}
// .transformButton {
//     transform: translateY(2vh);
// }
ion-text{
    position:center;
}
p{
    color: white;
    font-size:23px;
}


