
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item [class.valid]="form.get('fullname').valid" [class.invalid]="form.get('fullname').invalid">
    <ion-label position="floating" color="medium">Full Name:</ion-label>
    <ion-input type="text" formControlName="fullname"></ion-input>
    <div class="validation-message" *ngIf="form.get('fullname').invalid && (form.get('fullname').dirty || form.get('fullname').touched)">
      Full Name is required and must be a valid Name.
    </div>
  </ion-item>

  <ion-item [class.valid]="form.get('tagname').valid" [class.invalid]="form.get('tagname').invalid">
    <ion-label position="floating" color="medium">User Tag:</ion-label>
    <ion-input type="text" formControlName="tagname"></ion-input>
    <div class="validation-message" *ngIf="form.get('tagname').invalid && (form.get('tagname').dirty || form.get('tagname').touched)">
      Tag name is required.
    </div>
  </ion-item>

  <ion-item [class.valid]="form.get('email').valid" [class.invalid]="form.get('email').invalid">
    <ion-label position="floating" color="medium">Email:</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
    <div class="validation-message" *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
      Email is required and must be a valid email address.
    </div>
  </ion-item>

  
  <ion-item [class.valid]="form.get('phone').valid" [class.invalid]="form.get('phone').invalid">
    <ion-label position="floating" color="medium">Phone Number:</ion-label>
    <ion-input type="tel" minlength="11"
    maxlength="11" type="number" formControlName="phone" (ionChange)="changeNumber($event)"></ion-input>
    <div class="validation-message" *ngIf="form.get('phone').invalid && (form.get('phone').dirty || form.get('phone').touched)">
      Phone Number is required and must be valid.
    </div>
  </ion-item>
  

  <ion-item [class.valid]="form.get('password').valid" [class.invalid]="form.get('password').invalid">
    <ion-label position="floating" color="medium">Password:</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
    <div class="validation-message" *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)">
      Password is required and must be at least 6 characters long.
    </div>
  </ion-item>
  <ion-item [class.valid]="form.get('confirm_password').valid" [class.invalid]="form.get('confirm_password').invalid">
    <ion-label position="floating" color="medium">Confirm Password:</ion-label>
    <ion-input type="password" formControlName="confirm_password"></ion-input>
    <div class="validation-message" *ngIf="form.get('confirm_password').invalid && (form.get('confirm_password').dirty || form.get('confirm_password').touched)">
      Passwords do not match.
    </div>
  </ion-item>
  <ion-button type="submit" [disabled]="form.invalid">Register</ion-button>
</form>
