<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="accounts/verification" ></ion-back-button>
      
    </ion-buttons>
    <ion-title>Scan ID</ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
<ion-content>

<ion-list>

<div>
   <ion-item lines="none">
    <ion-input type="file"></ion-input>
  </ion-item>
</div>
 
  
   
  <ion-item lines="none">
     <h3 class="ion-text-left ion-padding ion-no-margin">Please ensure that the file matches the following:</h3>
  </ion-item>

  <ion-item lines="none">
      <ion-text class="ion-text-justify">• The image is not blur to ensure proper verification <br> </ion-text>
  </ion-item>
  
  <ion-item lines="none">

    <ion-text class="ion-text-justify">• The information on the ID can be read easily</ion-text>
  </ion-item>


      <ion-button shape="block" color="medium" (click)="upload">Submit</ion-button>

  
</ion-list>

</ion-content> -->


<ion-content class="ion-padding">

  <ion-item class="ion" lines="none">
    <ion-input type="file"></ion-input>
  </ion-item>
  
<!-- <br> -->
  <h5 class="ion-padding">Please ensure that the file matches the following:</h5>
 <p>
    <ion-list>
      <ion-item class="bullet-point" lines="none">
        <ion-icon name="ellipse" slot="start"></ion-icon>
        <ion-text class="ion-text-justify">The image is not blur to ensure proper verification</ion-text>
      </ion-item>
      <ion-item  class="bullet-point" lines="none">
        <ion-icon name="ellipse" slot="start"></ion-icon>
        <ion-text>The information on the ID can be read easily</ion-text>
      </ion-item>
      
    </ion-list>
  </p>
  
    <ion-button shape="block" color="medium" (click)="upload($event)">Submit</ion-button>
    
  

 
</ion-content>